.Rhistory
.RData
.Rproj.user/
*.Rproj
.DS_Store
Thumbs.db
*.tar.gz
*.tgz
*.Rcheck/
docs/site/         
vignettes/*.html   
dev/               
test_output/       
inst/doc
/doc/
/Meta/
.Rproj.user
.Rdata
.httr-oauth
.quarto
